// 商品列表 1行1个
.goods-item-rows{
	padding: 0 30rpx;
	.goods-item-row{
		@include flex-box();
		border-radius: 20rpx;
		background: #fff;
		margin-bottom: 20rpx;
		padding: 20rpx 20rpx;
		.goods-img{
			width: 160rpx;
			height: 160rpx;
			margin-right: 20rpx;
			border-radius: 10rpx;
		}
		.goods-video{
			width: 160rpx;
			height: 160rpx;
			margin-right: 20rpx;
			border-radius: 10rpx;
		}
		.goods-right{
			flex: 1;
			@include flex-box(column,space-evenly);
			justify-content: space-around;
			.goods-name{
				font-size: 28rpx;
				font-weight: 600;
			}
			.goods-center{
				@include flex-box(row,space-between,center);
				.goods-price{
					color: $text-theme;
					.jiage{
						margin-left: 5rpx;
						font-size: 36rpx;
						font-weight: 500;
					}
				}
				.cart-img{
					width: 42rpx;
					align-self: center;
				}
			}
			.goods-bot{
				@include flex-box(row,space-between,center);
				.market-price{
					color: $text-grey;
					text-decoration: line-through;
				}
				.buy-btn{
					background: none;
					border-radius: 40rpx;
					border: 0.5px solid $bg-btn;
					color: $bg-btn;
					width: 160rpx;
					height: 52rpx;
					line-height: 50rpx;
					font-size: 28rpx;
				}
				.cart-img{
					width: 40rpx;
				}
			}
		}
	}
}
// 商品列表 1排2个
.goods-items{
	@include flex-box(row,null,null,wrap);
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 20rpx;
	padding: 0 30rpx;
	.goods-item{
		background: #fff;
		border-radius: $border-radius;
		overflow: hidden;
		.goods-img{
			width: 100%;
			height: 300rpx;
		}
		.goods-name{
			padding: 0 15rpx;
		}
		.goods-price{
			padding: 0 15rpx 15rpx 15rpx;
			@include flex-box();
			margin-top: 10rpx;
			.price-left{
				@include flex-box();
				flex: 1;
				color: $text-theme;
				.fuhao{
					align-self: flex-end;
					margin-right: 5rpx;
				}
				.jiage{
					font-size: 34rpx;
					align-self: center;
				}
			}
			.cart-img{
				width: 42rpx;
				align-self: center;
			}
		}
	}
}