@font-face {
  font-family: "iconfont"; /* Project id 4218469 */
  src: url('~@/static/iconfont/iconfont.woff2?t=1707027286111') format('woff2'),
       url('~@/static/iconfont/iconfont.woff?t=1707027286111') format('woff'),
       url('~@/static/iconfont/iconfont.ttf?t=1707027286111') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zizhutuiguang:before {
  content: "\e600";
}

.icon-yuanxingxuanzhongfill:before {
  content: "\e730";
}

.icon-iclike:before {
  content: "\e628";
}

.icon-xuanzhong:before {
  content: "\e61a";
}

.icon-jiage:before {
  content: "\e652";
}

.icon-xiangxia:before {
  content: "\e625";
}

.icon-remove-1-copy:before {
  content: "\e61b";
}

.icon-fuli:before {
  content: "\e618";
}

.icon-anquan:before {
  content: "\e68e";
}

.icon-shezhi:before {
  content: "\e643";
}

.icon-011tishi:before {
  content: "\e656";
}

.icon-caiwuicon-:before {
  content: "\e620";
}

.icon-duihao:before {
  content: "\e633";
}

.icon-xingbie-nv:before {
  content: "\e615";
}

.icon-shouye:before {
  content: "\e66a";
}

.icon-shanchu:before {
  content: "\e611";
}

.icon-shuaxin:before {
  content: "\e66d";
}

.icon-shanchu1:before {
  content: "\e61c";
}

.icon-signing:before {
  content: "\e614";
}

.icon-xiaoxi:before {
  content: "\e612";
}

.icon-24gf-arrowDown3:before {
  content: "\eb77";
}

.icon-gengduo:before {
  content: "\e61e";
}

.icon-xiaoxi1:before {
  content: "\e7c6";
}

.icon-fenlei:before {
  content: "\e613";
}

.icon-shouji:before {
  content: "\e853";
}

.icon-yanjing:before {
  content: "\e6cf";
}

.icon-shouji1:before {
  content: "\e62b";
}

.icon-dingwei:before {
  content: "\e7cd";
}

.icon-zhiding:before {
  content: "\e610";
}

.icon-wode:before {
  content: "\e604";
}

.icon-gongwenbao:before {
  content: "\e750";
}

.icon-tongzhi:before {
  content: "\e63c";
}

.icon-nan:before {
  content: "\e8b3";
}

.icon-xiangji:before {
  content: "\e8bc";
}

.icon-qiandao:before {
  content: "\e746";
}

.icon-shipinzhibo:before {
  content: "\e65b";
}

.icon-xiangyou:before {
  content: "\e65a";
}

.icon-jianlibuchongxiang:before {
  content: "\e61f";
}

.icon-gangwei:before {
  content: "\e695";
}

.icon-dianhua:before {
  content: "\e624";
}

.icon-tousujianyi:before {
  content: "\e6f0";
}

.icon-wenjian:before {
  content: "\e703";
}

.icon-ditudingweidian-xuanzhong:before {
  content: "\e616";
}

.icon-wode-gerenziliao:before {
  content: "\e63d";
}

.icon-xuexiaojianjie:before {
  content: "\e65c";
}

.icon-wenjianjia:before {
  content: "\e69e";
}

.icon-jianli:before {
  content: "\e609";
}

.icon-qita:before {
  content: "\e649";
}

.icon-yaoqing:before {
  content: "\f00a";
}

.icon-gongzuo:before {
  content: "\e62c";
}

.icon-gangweiguanli:before {
  content: "\e60a";
}

.icon-shouye1:before {
  content: "\f7f4";
}

.icon-biaoqianlan_shouye:before {
  content: "\e7bb";
}

.icon-fenxiang:before {
  content: "\e622";
}

.icon-shenfenzhengrenzheng:before {
  content: "\e645";
}

.icon-xiangyou1:before {
  content: "\e617";
}

.icon-yinsizhengce:before {
  content: "\100fd";
}

.icon-a-shuaxin2:before {
  content: "\ea6b";
}

.icon-dianpuxinzi:before {
  content: "\e60b";
}

.icon-yijianfankui:before {
  content: "\e646";
}

